/.sass-cache
/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/ctags.sh
/.session.vim
/.jshintrc
*.DS_Store
*~
.*.swp
.*.swo
.imdone
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
.env
.netrwhist
.*.pyc
yarn-error.log
tags

